/*===== 样式重置 =====*/
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{margin:0;padding:0;}
body{height:100%; background-color:#eee;}
body{font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3"; font-size: 14px; line-height: 1.4;
                                                min-width: 320px; min-height: 100%; margin: 0 auto; color:#777;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol{list-style:none;}
a{background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #777;}
a,button {outline:none;}
a:hover { color: #f07b13;}
fieldset,img{border:0 none;}
i,em{font-style:normal;}
table{border-collapse:collapse; border-spacing:0;}
input,select,textarea,button{font-size:100%; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
button,
input[type=button],
input[type=submit]{cursor:pointer;}
input[type=search]{-webkit-appearance:textfield;}
input[type="submit"]{-webkit-appearance:none;} 
textarea{overflow-y:auto; resize:vertical;}
button {border: 0;}
input, input:focus, button, button:focus{outline:none;outline:1px !important;}

/*===== 清除浮动 =====*/
.clear,
.clearfix{zoom:1;}
.clear:after,
.clearfix:after{content:' ';display:block;clear:both;height:0;visibility:hidden;}

/*===== 快捷样式类名 =====*/
.hidden{display:none;}

/* layer */
.layer {background-color: #eee;}

/* header */
.header {height: 44px;background-color: #1fa67a;}
.header .title {line-height: 44px;font-size: 1.28571rem;font-weight: 400;color: #fff;padding-left: 10px;}

/* weight */
.main .weight {height: 48px;line-height: 48px;width: 96%;border-bottom: 1px solid #a7b19c;margin: 0 auto;}
.main .w_txt {font-size: 1rem;color: #21b384;}
.main .w_inputkg {width: 50px;font-size: 1.6rem;color: #777;border: 0;text-align: center;background-color: #d4d8d0;}

/* sports */
.sports .menu_pannel {width: 90%;height: 50px;border: 1px solid #c1c4bc;background: #fff; margin: 15px auto 0;border-radius: 4px;line-height: 50px;}
.sports .m_num {display: inline-block;width: 24px;height: 16px;border: 1px solid #c1c4bc;border-radius: 10px;text-align: center;color: #c8c8c8;font-size: .85714rem;line-height: 16px;margin-left: 10px;}
.sports .menu_pannel .on {color: #21b384;border-color: #21b384;}
.sports .m_tit {color: #000;margin-left: 2px;font-size: 1.14285rem;}
.sports .m_line {width: 1px;height: 36px;float:right;display:inline-block;background-color: #babbba;margin-top: 8px;}
.sports .add_item {width: 48px;height: 37px;float: right;display: inline-block;margin-top: 8px;text-align: center;line-height: 46px;}
.sports .add_item i {font-size: 1.5rem;color: #1fa67a;}

/* item */
.item_list {overflow: hidden;width: 90%;margin: 0 auto;}
.item_list li {height: 28px;border: 1px solid #c1c4bc;border-radius: 3px;background-color: #fff;border-top: 0;line-height: 28px;}
.item_list li .i_tit {color: #000;margin-left: 14px;max-width: 160px;display:inline-block;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.item_list li .i_time {color: #777;float: right;margin-right: 6px;}
.item_list li .remove_item {display: inline-block;float: right;width: 46px;height: 29px;text-align: center;color: #ff3b30;font-size: 1.5rem;}

/* result */
.result {height: 35px;line-height: 35px;color: #000;margin-top: 20px;}
.result .r_txt {margin-left: 2%;font-size: 1rem;}
.result .r_txt .r_num {font-size:2.2rem;font-weight: 700;color: #21b384;font-family: Arial;margin-right: 4px;}

/* options */
.options {display: none;}
.options .o_head {height: 44px;background-color: #1fa67a;line-height: 44px;overflow: hidden;position: absolute;z-index: 2;top: 0;left: 0;width: 100%;padding: 0;}
.options .o_back {float: left;color: #b0ddce;margin-left: 10px;}
.options .o_sure {float: right;color: #fff;margin-right: 10px;}

/* options_list */
.iwrapper {position: absolute;z-index: 1;top: 44px;bottom: 0;left: 0;width: 100%;overflow: hidden;}
.options_list {overflow: hidden;}
.options_list li {overflow: hidden;border-bottom: 1px solid #ccc;height: 36px;}
.options_list .o_tit {color: #000;width: 76%;text-align: center;display: inline-block;line-height: 36px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;float: left;}
.options_list .o_time {line-height: 36px;float: left;width: 24%;}
.options_list .o_time .o_minute {text-align:center;width: 32px;height:24px;border: 0;text-align: center;background-color: #d4d8d0;margin-right: 2px;text-align: center;}