<!DOCTYPE html>
<html lang="zh-cn" data-framework="angularjs">
<head>
    <meta charset="UTF-8">
    <title>运动卡路里消耗计算器</title>
    <meta name="keywords" content="减肥，卡路里消耗，计算器" />
    <meta name="description" content="运动卡路里消耗计算器是运动减肥的必备工具，只要在填写您的体重和相应运动项目的时间，就可以算出今天活动消耗的卡路里哦，赶紧试试吧！"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="src/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/css/index.css">
</head>
<body ng-app="heatcalculation">
    <ng-view />

    <script type="text/ng-template" id="heat-index.html">
        <header class="header">
            <h1 class="title">运动卡路里消耗计算器</h1>
        </header>

        <section class="main">

            <div class="weight">
                <span class="w_txt">输入体重：</span>
                <input type="number" class="w_inputkg" ng-model="calCache.weight" placeholder="0">
                <span class="w_kg">（公斤）</span>
            </div>
            
            <div class="sports">
                
                <div class="menu_pannel">
                    <span class="m_num">0</span>
                    <span class="m_tit">运动</span>
                    <a href="#/add" class="add_item">
                        <i class="fa fa-plus"></i>
                    </a>
                    <i class="m_line"></i>
                </div>
                
                <div class="item_list">
                    <ul id="J_items"></ul>
                </div>
                
                <div class="result">
                    <p class="r_txt">燃烧的卡路里：<span class="r_num">{{outResult}}</span>大卡</p>
                </div>
            </div>

        </section>

    </script>

    <script type="text/ng-template" id="heat-additem.html">

        <header class="o_head">
            <a href="#" class="o_back">
                <i class="fa fa-chevron-left"></i>
                返回
            </a>
            <a href="javascript:;" class="o_sure" ng-click="sureItem()">
                确定
            </a>
        </header>
        <div id="J_iwrapper" class="iwrapper">
            <ul class="options_list" >
                <li ng-repeat="member in cache">
                    <span class="o_tit">{{member.name}}</span>
                    <span class="o_time"><input type="number" placeholder="0" ng-model="member.minute" class="o_minute">分钟</span>
                </li>
            </ul>
        </div>

    </script>
</body>
<script src="src/js/fastclick.js"></script>
<script>FastClick.attach(document.body);</script>
<script src="src/js/angular.js"></script>
<script src="src/js/angular-route.js"></script>
<script src="src/js/app.js"></script>
<script src="src/js/controllers/heatCtrl.js"></script>
<script src="src/js/services/todoStorage.js"></script>
</html>